<% @movies.each do |task| %>
    <div class="user_list_item <%= cycle("bgdark", "bglight") %>">

        <%= link_to image_tag("https://image.tmdb.org/t/p/w185/"+task.image_url, alt: task.movie_name, :class => 'image_item' ), {:action => 'show', :controller => 'movies', :id => task.id_movie_api} %>
        <div class="description_visible">
          <h2><%= task.movie_name %></h2>
          <p>Synopsis : <%= task.description %> </p>
          <div class="choice">
          <div class="wish">
            <% if(current_user.status(current_user.id, task.id_movie_api)[0] == 'viewed')%>
              <%= image_tag('viewed_gray.png', {:title => 'Viewed'}) %>
            <% else %>
              <%= link_to image_tag('viewed.png', {:title => 'Viewed'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id_movie_api, :id_user => current_user.id, :state => 'viewed'} %>
            <% end %>
          </div>
          <div class="viewed">
          <% if(current_user.status(current_user.id, task.id_movie_api)[0] == 'to_see')%>
              <%= image_tag('to_see_gray.png', {:title => 'To see'}) %>
            <% else %>
              <%= link_to image_tag('to_see.png', {:title => 'To see'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id_movie_api, :id_user => current_user.id, :state => 'to_see'} %>
            <% end %>
          </div>
          <div class="trash"><%= link_to image_tag('trash.png'), {:controller => "movies_properties", :action => "destroy", :id_movie => task.id, :id_user => current_user.id} %></div>
          </div>
        </div>
        <div class="videoWrapper">
          <iframe src="https://www.youtube.com/embed/<%= task.trailer %>" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="see_more">
        </div>
      </div>
<% end %>
