<div id="form_search">
<%= form_tag("/movies", method: "get", id: "form_search") do %><!--
--><div><%= text_field_tag(:search, nil, placeholder: 'Which film are you looking for ? ', value: params[:search]) %><!--
--><%= submit_tag("Search", :id => "submit") %></div><!--
--><% end %>
</div>
<% if params[:search].present? %>
	<div id="result_search_container">
		<%  @results.each do |task| %>
			<div class="result_search">
				<p><%= task.title %><p>
				<% if !task.poster_path.nil? %>
					<%= link_to image_tag("https://image.tmdb.org/t/p/w185/"+task.poster_path, alt: task.title), {:action => 'show', :controller => 'movies', :id => task.id}  %>
				<% else %>
					<%= link_to image_tag('unknow.jpg', alt: "unknonw"), {:action => 'show', :controller => 'movies', :id => task.id} %>
				<% end %>
				<div class="choice">
					<span class="wish">
						<% if(current_user.status(current_user.id, task.id)[0] == 'viewed')%>
							<%= image_tag('viewed_gray.png', {:title => 'Viewed'}) %>
						<% else %>
							<%= link_to image_tag('viewed.png', {:title => 'Viewed'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'viewed'} %>
						<% end %>
					</span>
					<span class="viewed">
					<% if(current_user.status(current_user.id, task.id)[0] == 'to_see')%>
							<%= image_tag('to_see_gray.png', {:title => 'To see'}) %>
						<% else %>
							<%= link_to image_tag('to_see.png', {:title => 'To see'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'to_see'} %>
						<% end %>
					</span>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div id="result_search_container">
		<ul>
		    <li><a href="#tabs-1">Popular</a></li>
		    <li><a href="#tabs-2">Currently</a></li>
		    <li><a href="#tabs-3">Coming</a></li>
	    </ul>
	  	<div id="tabs-1">
		    <%  @populars.each do |task| %>
			<div class="result_search">
				<p><%= task.title %><p>
				<% if !task.poster_path.nil? %>
					<%= link_to image_tag("https://image.tmdb.org/t/p/w185/"+task.poster_path, alt: task.title), {:action => 'show', :controller => 'movies', :id => task.id}  %>
				<% else %>
					<%= link_to image_tag('unknow.jpg', alt: "unknonw"), {:action => 'show', :controller => 'movies', :id => task.id} %>
				<% end %>
				<div class="choice">
					<span class="wish">
						<% if(current_user.status(current_user.id, task.id)[0] == 'viewed')%>
							<%= image_tag('viewed_gray.png', {:title => 'Viewed'}) %>
						<% else %>
							<%= link_to image_tag('viewed.png', {:title => 'Viewed'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'viewed'} %>
						<% end %>
					</span>
					<span class="viewed">
					<% if(current_user.status(current_user.id, task.id)[0] == 'to_see')%>
							<%= image_tag('to_see_gray.png', {:title => 'To see'}) %>
						<% else %>
							<%= link_to image_tag('to_see.png', {:title => 'To see'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'to_see'} %>
						<% end %>
					</span>
				</div>
			</div>
		<% end %>
	  	</div>
	  	<div id="tabs-2">
		    <%  @nows.each do |task| %>
			<div class="result_search">
				<p><%= task.title %><p>
				<% if !task.poster_path.nil? %>
					<%= link_to image_tag("https://image.tmdb.org/t/p/w185/"+task.poster_path, alt: task.title), {:action => 'show', :controller => 'movies', :id => task.id}  %>
				<% else %>
					<%= link_to image_tag('unknow.jpg', alt: "unknonw"), {:action => 'show', :controller => 'movies', :id => task.id} %>
				<% end %>
				<div class="choice">
					<span class="wish">
						<% if(current_user.status(current_user.id, task.id)[0] == 'viewed')%>
							<%= image_tag('viewed_gray.png', {:title => 'Viewed'}) %>
						<% else %>
							<%= link_to image_tag('viewed.png', {:title => 'Viewed'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'viewed'} %>
						<% end %>
					</span>
					<span class="viewed">
					<% if(current_user.status(current_user.id, task.id)[0] == 'to_see')%>
							<%= image_tag('to_see_gray.png', {:title => 'To see'}) %>
						<% else %>
							<%= link_to image_tag('to_see.png', {:title => 'To see'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'to_see'} %>
						<% end %>
					</span>
				</div>
			</div>
		<% end %>
	  	</div>
	  	<div id="tabs-3">
		    <%  @upcomings.each do |task| %>
			<div class="result_search">
				<p><%= task.title %><p>
				<% if !task.poster_path.nil? %>
					<%= link_to image_tag("https://image.tmdb.org/t/p/w185/"+task.poster_path, alt: task.title), {:action => 'show', :controller => 'movies', :id => task.id}  %>
				<% else %>
					<%= link_to image_tag('unknow.jpg', alt: "unknonw"), {:action => 'show', :controller => 'movies', :id => task.id} %>
				<% end %>
				<div class="choice">
					<span class="wish">
						<% if(current_user.status(current_user.id, task.id)[0] == 'viewed')%>
							<%= image_tag('viewed_gray.png', {:title => 'Viewed'}) %>
						<% else %>
							<%= link_to image_tag('viewed.png', {:title => 'Viewed'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'viewed'} %>
						<% end %>
					</span>
					<span class="viewed">
					<% if(current_user.status(current_user.id, task.id)[0] == 'to_see')%>
							<%= image_tag('to_see_gray.png', {:title => 'To see'}) %>
						<% else %>
							<%= link_to image_tag('to_see.png', {:title => 'To see'}), {:controller => "movies_properties", :action => "create", :id_movie => task.id, :id_user => current_user.id, :state => 'to_see'} %>
						<% end %>
					</span>
				</div>
			</div>
		<% end %>
	  	</div>
	</div>
<% end %>
